h1 {
    color: rgb (23, 56, 42) ;
}3*
h2 {
    color: rgb (23, 56, 42 );
}
h3 {
    color: rgb (213, 0, 150) ;
}
h4 {
    color: rgb (99, 116, 0) ;
}
h5 {
    color: rgb (200, 0, 0) ;
}
h6 {
    color: rgb 0, 0, 200 ;
}