h1 {
    color: rgb(248, 0, 70) ;
}
h2 {
    color: rgb(255, 187, 0);
}
h3 {
    color: rgb(208, 255, 0) ;
}
h4 {
    color: rgba(72, 255, 0, 0,.1) ;
}
h5 {
    color: rgba(55, 19, 214.3,.9) ;
}
h6 {
    color: rgba(212, 8, 231,.5) ;
}
p {
    color: #00e043;
}